* {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 100);
  font-size:20pt
}


box {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 100);
  font-size:20pt
}

table{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 100);
  font-size:20pt
}

combobox.box
{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 100);
  font-size:20pt;
}


combobox.cellview
{
  color: rgb(255, 255, 255);
  font-size:20pt;
}

menuitem {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 100);
  font-size:20pt
}

menuitem:hover {
  color: rgb(255, 255, 255);
  background: rgb(100, 0, 0);
  padding: 3px 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);;
  font-size:20pt
}

label {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 100);
  font-size:20pt
}

button {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 100);
  font-size:20pt
}

button label {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 100);
  font-size:20pt
}

button:hover {
  color: rgb(255, 255, 255);
  background: rgb(100, 0, 0);
  font-size:30pt
}

button:hover label{
  color: rgb(255, 255, 255);
  background: rgb(100, 0, 0);
  font-size:30pt
}

button:checked {
  color: rgb(255, 255, 255);
  background: rgb(100, 0, 0);
  font-size:30pt
}

button:checked label{
  color: rgb(255, 255, 255);
  background: rgb(100, 0, 0);
  font-size:30pt
}

notebook {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 100);
  font-size:20pt
}
combobox {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 100);
  font-size:20pt
}

treeview.view{
  color: rgb(0, 0, 0);
  background: rgb(2, 226, 255);
  font-size:15pt
}

listview{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 100);
  font-size:15pt;
}

treeview.view {
  color: rgb(255, 255, 255);
  background: rgb(2, 141, 255);
  font-size:15pt;
}

treeview.view header{
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 100);
  font-size:20pt
}

treeview.view *:selected {
  color: rgb(255, 255, 255);
  background-color: rgb(100, 0, 0);
  font-size:20pt;
}

treeview.view *:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(100, 0, 0);
  font-size:20pt;
  
}

